<html>

   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <h1>Welcome to www.StrattonOakmont.com, <%= @user.name %></h1>

      <p>
         Congratulations! You have successfully signed up to StrattonOakmont.com, your username is:
         <%= @user.email %>.<br>
      </p>

      <p>
         We will send you an email once your account is approved.
      </p>

      <p>Thanks for joining and have a great day!</p>

   </body>
</html>